@import url('https://fonts.googleapis.com/css?family=Varela');

body {
    background: black;
    font-family: 'Varela', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: max-content;
    text-align: center;
}

@keyframes noise-anim {
    0% { clip: rect(10px, 9999px, 90px, 0); }
    10% { clip: rect(20px, 9999px, 85px, 0); }
    20% { clip: rect(30px, 9999px, 80px, 0); }
    30% { clip: rect(40px, 9999px, 75px, 0); }
    40% { clip: rect(50px, 9999px, 70px, 0); }
    50% { clip: rect(60px, 9999px, 65px, 0); }
    60% { clip: rect(70px, 9999px, 60px, 0); }
    70% { clip: rect(80px, 9999px, 55px, 0); }
    80% { clip: rect(90px, 9999px, 50px, 0); }
    90% { clip: rect(100px, 9999px, 45px, 0); }
    100% { clip: rect(110px, 9999px, 40px, 0); }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 3s infinite linear alternate-reverse;
}

/*
Comment Test
*/
